<% @astronauts.each do |astronaut| %>
  <section id="astronaut-<%= astronaut.id %>">
  <%= "Name: #{astronaut.name}" %><br>
  <%= "Age: #{astronaut.age}" %><br>
  <%= "Job: #{astronaut.job}" %><br>
  <%= "Total Time in Space: #{astronaut.time_in_space} months" %><br>
  <%= "Missions:" %>
    <ul>
    <% astronaut.missions.each do |mission| %>
      <li><%= mission.title %></li>
    <% end %>
    </ul>
  </section>
<% end %>

<%= "Average Age: #{Astronaut.average_age}" %>
